.container {
    margin: auto;
    max-width: 90%;
    font-family: Gill Sans, sans-serif;
    text-align: center;
  }
  
  .heading {
    color: rgb(153, 51, 51);
    
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }
  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }